  <div class="row">
    <div class="col-sm">
      <h1>Retrieved Tweets:</h1>    
      <div class="div-table">
          <div class="div-table-row">
            <div class="div-table-col">Number</div>            
            <div class="div-table-col">Tweet</div>
            <div class="div-table-col">Sentiment</div>
            <div class="div-table-col">Score</div>            
          </div>
          {% for item in data %}          
          <div class="div-table-row">
            <div class="div-table-col">{{ loop.index }}</div>
            <div class="div-table-col">{{item[0]}}</div>
            <div class="div-table-col">{{item[1]}}</div>
            <div class="div-table-col">{{item[2]}}</div>            
          </div>
          {% endfor %}   
      </div>      
    </div>
  </div> 
